body {
    background-image: linear-gradient(#FF5733, #FFBD33);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
    
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.main {
    background-color: whitesmoke;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 90%;

}

.left {
    background-color: #DBFF33;
    width: 200px;
    height: 100%;
    float: left;

}

.right {
    width: 450px;
    float: left;

}

.profile-img {
    height: 180px;
    width: 180px;
    background-color: #75FF33;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #33FF57;
    box-shadow: 6px 7px 9px 5px #33FFBD;

}

.profile-img img {
    width: 100%;
    border-radius: 50%;

}

.box-1 {
    position: relative;

}

.heading {
    background-color: #DAF7A6;
    padding: 10px;
    color: #FFC300;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;

}

.heading::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #C70039;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;

}

.p1 {
    padding: 9px 10px;
    font-size: 11px;

}

.icons1 {
    font-size: 16px !important;
    padding-right: 10px !important;
    vertical-align: sub;

}

.skill-container {
    width: 90%;
    background-color: #900C3F;
    margin: 0px 10px;

}

.skill {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: whitesmoke;

}

.HTML {
    width: 50%;
    background-color: #e54c21;

}

.CSS {
    width: 50%;
    background-color: #264de4;

}

.JS {
    width: 25%;
    background-color: #f7df1e;

}

.PHP {
    width: 50%;
    background-color: #777bb3;

}

.MySQL {
    width: 25%;
    background-color: #00618a;

}

.GIT {
    width: 25%;
    background-color: #f05030;

}

.Diseño-Web {
    width: 50%;
    background-color: #ff3700;

}

.App-Web {
    width: 25%;
    background-color: #0033ff;

}

.App-Movil {
    width: 5%;
    background-color: #ffe100;

}

.Realidad-Aumentada {
    width: 5%;
    background-color: #abb0ff;

}

.SCRUM {
    width: 10%;
    background-color: #818181;

}

.icons2 {
    padding: 18px 10px;
}

.name-div {
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;

}

.name-div h1 {
    margin-bottom: 10px;

}

.box-2 {
    padding: 0px 50px;
    margin-top: 30px;

}

.ul1 {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;

}

h2 {
    font-size: 16px;
    margin-bottom: 15px;

}

.icons3 {
    vertical-align: bottom;
    font-size: 21px !important;
    color: antiquewhite;

}

.li1 {
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0;
    margin-top: 10px;

}

.li1 strong {
    color: crimson;
    padding-left: 20px;

}

