body {
    background-image: linear-gradient(#757474, #651D28);
    height: 182vh;
    font-weight: bold;
    letter-spacing: 2px;
    
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.main {
    background-color: #48484A;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 90%;

}

.left {
    background-color: #A19088;
    width: 200px;
    height: 100%;
    float: left;

}

.right {
    width: 450px;
    float: left;

}

.profile-img {
    height: 180px;
    width: 180px;
    background-color: #6E1E29;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #887575;
    box-shadow: 6px 7px 9px 5px #7A303C;

}

.profile-img img {
    width: 100%;
    border-radius: 50%;

}

.box-1 {
    position: relative;

}

.heading {
    background-color: #65252F;
    padding: 10px;
    color: black;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;

}

.heading::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5B2432;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;

}

.p1 {
    padding: 9px 10px;
    font-size: 11px;

}

.icons1 {
    font-size: 8px !important;
    padding-right: 10px !important;
    vertical-align: sub;

}

.icon-phone {
    font-size: 15px !important;
    padding-right: 10px !important;
    vertical-align: sub;

}

.icon-location {
    font-size: 26px !important;
    padding-right: 10px !important;
    vertical-align: sub;

}

.icon-link {
    font-size: 5px !important;
    padding-right: 10px !important;
    vertical-align: sub;

}

.skill-container {
    width: 90%;
    background-color: #9B9694;
    margin: 0px 10px;

}

.skill {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #757474;

}

.HTML {
    width: 50%;
    background-color: #e54c21;

}

.CSS {
    width: 50%;
    background-color: #264de4;

}

.JS {
    width: 25%;
    background-color: #f7df1e;

}

.PHP {
    width: 50%;
    background-color: #777bb3;

}

.MySQL {
    width: 25%;
    background-color: #00618a;

}

.GIT {
    width: 25%;
    background-color: #f05030;

}

.Diseño-Web {
    width: 50%;
    background-color: #ff3700;

}

.App-Web {
    width: 25%;
    background-color: #0033ff;

}

.App-Movil {
    width: 5%;
    background-color: #ffe100;

}

.Realidad-Aumentada {
    width: 5%;
    background-color: #abb0ff;

}

.SCRUM {
    width: 10%;
    background-color: #818181;

}

.icons2 {
    padding: 18px 10px;
}

.name-div {
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;

}

.name-div h1 {
    margin-bottom: 10px;

}

.h-div {
    text-align: center;
}

.box-2 {
    padding: 0px 50px;
    margin-top: 30px;

}

.ul1 {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;

}

h2 {
    font-size: 16px;
    margin-bottom: 15px;

}

.icon-me {
    vertical-align: bottom;
    font-size: 21px !important;
    color: rgb(0, 0, 0);

}

.li1 {
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0;
    margin-top: 10px;

}

.li1 strong {
    color: #651D28;
    padding-left: 20px;

}

.form {
    position: relative;
    width: 20rem;
    height: 0.5rem;
    left: 2.5rem;
    
}

.form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #5A4043;
    border-radius: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: Helvetica;
    color: black;
    outline: none;
    padding: 1.5rem;
    background: none;
    transition: all 160ms ease-in;

}

.form-input:hover {
    border-color: #871B33;

}

.form-input:focus {
    border-color: #403D41;

}

.form-label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: black;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in font-size 200ms ease-in;
    background-color: #48484A;

}

.form-input:focus ~ .form-label, .form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;

}

.div-textarea {
    position: relative;
    width: 20rem;
    height: 3rem;
    left: 2.5rem;
    top: 2.5rem;

}

.textarea {
    background-color: #8B8584;
    color: black;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 350px;
    height: 200px;
    transition: all 0.2s;

}

.textarea:hover {
    cursor: pointer;
    background-color: #6F1E2A;

}

.textarea:focus {
    cursor: text;
    color: black;
    background-color: #454447;
    border-color: #9B9694;

}

.div-button {
    position: relative;
    width: 20rem;
    height: 3rem;
    left: 2.5rem;
    top: 15rem;

}

.button {
    display: inline-flex;
    height: 30px;
    padding: 0;
    background: #79343F;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

.button:hover {
    background-color: #5A1E2A;

}

.button:active {
    background-color: #5A4E51;

}

.button-text, .button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: black;
    height: 100%;

}

.button-icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.25);

}

